body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.app {
  background-color: cornsilk;
  width: 650px;
  min-height: 250px;
  height: min-content;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 4px 3px 20px 0px black;
/*   display: flex;
  justify-content: space-around; */

}

.question-count {
  margin-bottom: 10px;
  text-align: center;
}

.question-count span {
  font-size: 28px;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-text {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.answer-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

button {
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: chocolate;
  border-radius: 15px;
  /* display: flex; */
  padding: 5px;
  border: 5px solid #ffbf1b;
  margin: 5px;
}

button:hover {
  background-color: #ad4343; /* Green */
  color: white;
}

button:focus {
  background-color: #f3d31d; /* Green */
  color: white;
}

.score-section {
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.congrats {
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 20px;
}

.result {
  margin-top: 70px;
}
